.dashboard {
  background-image: linear-gradient(98.7deg, #5240f9 19.95%, #f3526d 89.51%);
  border: none;
  background-color: none;
  color: white !important;
  font-weight: bold;
  width: 210px;
  margin-bottom: 17px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.img-box {
  /* height: 2rem; */
  margin-right: 15px;
  transition: all 0.6s;
  /* width: 2rem; */
  color: white !important;
}

.img {
  display: block;
  /* height: 100%; */
  height: 20px !important;
  object-fit: contain;
  width: 2rem  !important;
  /* width: 100%; */
}


.dashboardText{
    font-size: 15px;
    font-weight: 500;
}

.dash-icon{
  /* width: 50px; */
  margin-left: 4.2rem;
  font-size: 0.7rem;
}